@font-face {
  font-family: 'UR_OMP';
  src:  url('../fonts/UR_OMP.eot?oticlp');
  src:  url('../fonts/UR_OMP.eot?oticlp#iefix') format('embedded-opentype'),
    url('../fonts/UR_OMP.ttf?oticlp') format('truetype'),
    url('../fonts/UR_OMP.woff?oticlp') format('woff'),
    url('../fonts/UR_OMP.svg?mz8tlb#oticlp#UR_OMP') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'UR_OMP' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 22px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-bottom;
}

.icon_dashboard:before {
  content: "\e900";
}
.icon_stock:before {
  content: "\e901";
}
.icon_vendor:before {
  content: "\e902";
}
.icon_promotion:before {
  content: "\e903";
}
.icon_order:before {
  content: "\e904";
}
.icon_file:before {
  content: "\e905";
}
.icon_down_arrow:before {
  content: "\e906";
}
.icon_up_arrow:before {
  content: "\e907";
}
.icon_right_arrow:before {
  content: "\e908";
}
.icon_left_arrow:before {
  content: "\e909";
}
.icon_close:before {
  content: "\e90a";
}
.icon_add:before {
  content: "\e90b";
}
.icon_left_arrow1:before {
  content: "\e90c";
}
.icon_help:before {
  content: "\e90d";
}
.icon_logout:before {
  content: "\e90e";
}
.icon_notification:before {
  content: "\e90f";
}
.icon_setting:before {
  content: "\e910";
}
.icon_crop:before {
  content: "\e911";
}
.icon_rotation:before {
  content: "\e912";
}
.icon_download:before {
  content: "\e913";
}
.icon_view:before {
  content: "\e914";
}
.icon_download1:before {
  content: "\e915";
}
.icon_upload:before {
  content: "\e916";
}
.icon_edit:before {
  content: "\e917";
}
.icon_delete:before {
  content: "\e918";
}
.icon_calendar:before {
  content: "\e919";
}
.icon_options:before {
  content: "\e91a";
}
.icon_correct:before {
  content: "\e91b";
}
.icon_warning:before {
  content: "\e91c";
}
.icon_information:before {
  content: "\e91d";
}
.icon_pdf_file:before {
  content: "\e91e";
}
