@import "variables";

body {
  font-family: "apregular" !important;
  font-size: $inputfont;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
h1,
h2,
h3 {
  font-size: $largefont;
  line-height: 28px;
  font-family: "apmedium";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
div {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
a {
  color: $btncolor !important;
}
label.col-sm-12 {
  padding: 0;
}
input {
  background: #f4f7fa;
  border: 1px solid #e7edf3;
  border-radius: 4px;
  font-size: $inputfont;
  width: 100%;
  padding: 6px 15px 1px;
  line-height: 39px;
  margin: 0 0 0.5rem;
  height: 48px;
  letter-spacing: 0.28px;
}
.line-bg {
  height: 2px;
  width: 0px;
  position: absolute;
  transition: 0.3s width ease-in-out;
  position: relative;
  top: -10px;
}
.line-bg.error {
  width: 100%;
  background-color: $errorcolor;
}
input:focus + .line-bg {
  width: 100%;
  background-color: $btncolor;
}
input.error {
  background: $inputerrorcolor;
  border-color: transparent;
}
input:focus + .line-bg.error {
  width: 100%;
  background-color: $errorcolor;
}
.login-box h3 {
  text-align: left;
  margin: 0 0 2rem;
}
.login-box {
  background: #ffffff;
  box-shadow: 0px 15px 45px #0000001a;
  border-radius: 10px;
  padding: 40px 45px 45px;
  width: 467px;
  margin: 0 auto;
}
button {
  background: $btncolor;
  border-radius: 5px;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.logo {
  width: 243px;
  margin: 5rem 0 4rem 0;
}
.forgot p {
  font-size: $inputfont;
  letter-spacing: 0.28px;
  color: $btncolor;
  line-height: 23px;
  text-align: right;
  a:hover {
    color: #16237a !important;
  }
}
.container-fluid.login-main {
  background: url(../img/bg.jpg) no-repeat top -4rem center;
  background-size: cover;
  height: 100vh;
  h2 {
    letter-spacing: 3.24px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    width: $fullwidth;
    margin: 1.5rem 0;
  }
}
.contai {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.28px;
  color: #192d4d;
  font-size: $inputfont;
  line-height: 21px;
  text-align: left;
}
.contai input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
.contai input:checked ~ .checkmark {
  background-color: $btncolor;
  border: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.contai input:checked ~ .checkmark:after {
  display: block;
}
.contai .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.login-page {
  z-index: 9;
  margin: 0 auto;
  text-align: center;
  width: $fullwidth;
}
button.sub-btn {
  background: $btncolor;
  border-radius: 5px;
  width: $fullwidth;
  border: none;
  height: 52px;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  font-family: "apmedium";
}
.check-box.row.clearfix {
  padding: 0.6rem 0 0.5rem;
}
#show_hide_password span.icon_show_password {
  float: left;
  margin: 0;
  position: absolute;
  margin-top: $inputfont;
  right: 1rem;
  color: #aab7c5;
  font-size: 21px;
  cursor: pointer;
  font-weight: 400 !important;
}
span.icon_hide_password {
  font-size: 15px;
}
input:focus,
button:focus,
textarea:focus {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}
p.errormsgs {
  letter-spacing: 0px;
  font-size: $labelfont;
  line-height: $inputfont;
  text-align: left;
  margin-top: -12px;
  margin-bottom: 1.2rem;
  transition: 0.5s ease;
  color: $errorcolor;
}

.notmal {
  letter-spacing: 0px;
  color: #717171;
  font-size: $inputfont;
  line-height: 21px;
  text-align: left;
  margin-top: -10px;
}
.error-imgs {
  color: #f81919;
  font-size: 20px;
  position: absolute;
  top: $inputfont;
  right: 1rem;
}
p.backto {
  margin: 2.5rem 0 -1rem;
  a {
    letter-spacing: 0px;
    font-size: $inputfont;
    line-height: 28px;
    span {
      font-size: 13px;
      position: relative;
      top: 1px;
      font-weight: 600;
    }
  }
}
button.close:hover {
  background: none !important;
}
.login-box.recovery {
  h3 {
    text-align: center;
    margin: 0 0 0.8rem;
  }
  p.notmal {
    text-align: center;
    margin: 0 0 3rem;
  }
  img {
    margin: 0 0 2rem;
  }
}
a:hover {
  text-decoration: none;
}
span.icon_show_password.toggle-password.actives {
  color: $btncolor !important;
}

.leftside-menu {
  ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    li {
      letter-spacing: 0.3px;
      color: #d4d9ff;
      font-size: 10px;
      margin: 0rem 0 0.5rem;
      padding: 9px 0 7px;
      line-height: 12px;
      cursor: pointer;
      span {
        letter-spacing: 0px;
        color: #d4d9ff;
        font-size: 22px;
      }
      span.dots {
        background: #ff1717 0% 0% no-repeat padding-box;
        border: 1px solid #3846a1;
        font: normal normal normal 8px/18px Helvetica Neue;
        letter-spacing: 0px;
        color: #ffffff;
        font-size: 8px !important;
        position: absolute;
        margin-top: -3px;
        margin-left: -8px;
        padding: 1px 4px;
        border-radius: 50%;
        line-height: normal !important;
      }
      p {
        margin: 0px;
      }
    }
    li.active {
      background: #3846a1 0% 0% no-repeat padding-box;
      border-radius: 9px;
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
}
.small-logo {
  text-align: center;
  margin: 1rem auto 2.5rem;
  img {
    width: 80%;
  }
}
.main-profile {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  width: 100%;
  left: 0;
  @include maxbig1 {
    bottom: 2.2rem;
  }
  img.main-pro {
    width: 48px;
    height: 48px;
    border-radius: $halfpercent;
    @include maxbig1 {
      width: 40px;
      height: 40px;
    }
  }
}
.top-bar {
  background: #7560fe;
  box-shadow: 0px 8px 20px #0e3ec233;
  float: left;
  width: 100%;
  padding: 1.3rem 0.8rem 0.9rem;
  border-right: 1px solid #ffffff26;
  @include maxbig1 {
    padding: 1rem 0.8rem 0.8rem;
  }
  h3 {
    font-family: "apbold";
    font-size: 20px;
    margin: 0;
    color: #fff;
    float: left;
  }
  p {
    margin: 0px;
    float: right;
    letter-spacing: 0.11px;
    color: #ffffff;
    font-size: $inputfont;
    line-height: 20px;
    span.icon_filter {
      font-size: 18px;
      position: relative;
      top: 2px;
    }
  }
  .dropdown.slope.centers {
    float: right;
    .dropdown-menu {
      left: -7rem;
      margin-top: 0px;
    }
  }
}
.col-sm-12.second-left-inner {
  float: left;
  padding: 0;
  height: calc(100vh - 64px);
}
.searches {
  margin: 1rem 15px 5px;
  input {
    background: url(../img/search.png) #f2f5f9 no-repeat;
    border-radius: 6px;
    height: 40px;
    background-size: 12px;
    background-position: left 10px center;
    padding-left: 30px;
    line-height: 24px;
    @include maxbig1 {
      height: 36px;
    }
  }
}

.personlist:hover {
  background: #f4f6fb;
}
.personlist {
  float: left;
  width: $fullwidth;
  padding: 9px 12px 8px;
  .images {
    float: left;
    margin-right: 1rem;
    position: relative;
    @include big6{margin-right:0.6rem;}
    img {
      width: 40px;
      height: 40px;
      border-radius: $halfpercent;
    }
    p {
      background: #c9a7fe;
      width: 40px;
      height: 40px;
      border-radius: $halfpercent;
      color: #fff;
      font-size: $inputfont;
      align-items: center;
      justify-content: center;
      display: flex;
      b {
        margin-left: 26px;
      }
    }
  }
  b.dotround {
    padding: 4px;
    border-radius: $halfpercent;
    position: absolute;
    margin-top: 2rem;
    margin-left: -12px;
    border: 1px solid #fff;
    @include maxbig1 {
      padding: 3px;
    }
  }
  h4 {
    letter-spacing: 0px;
    color: #0b0f16;
    font-size: $inputfont;
    line-height: 16px;
    margin: 0;
    padding-top: 5px;
  }
  p {
    color: #717171;
    font-size: $labelfont;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
    text-align: end;
    strong {
      background: #251ec4;
      padding: 4px 6px 2px;
      border-radius: 22px;
      color: #fff;
      font-size: $labelfont;
      line-height: 16px;
      font-weight: 300;
      margin-left: 5px;
    }
    b {
      color: $btncolor;
      font-weight: 400;
    }
    b.draft {
      color: #d9831d;
    }
    b.failed {
      color: $errorcolor;
    }
    span {
      font-size: 15px;
      position: relative;
      top: 2px;
    }
    strong.archievemsg {
      background: #d3e3f4;
      border-radius: 2px;
      letter-spacing: 0.1px;
      color: #517498;
      font-size: $smallfont;
      line-height: 20px;
    }
    .dropdown {
      left: -6.7rem;
    }
  }
  .namelist {
    float: left;
    p {
      text-align: left;
    }
  }
  p#dropdownMenuButton {
    display: none;
    margin-top: -2px;
    cursor: pointer;
  }
  p.centers {
    text-align: center;
    padding-top: 1px;
  }
  
  .timers {
    float: right;
  }
  &:hover p#dropdownMenuButton {
    display: block;
  }
  .selected-lists {
    float: left;
    width: 100%;
    padding-left: 2rem;
  }
  .contai {
    top: $smallfont;
    .checkmark:after {
      left: 7px;
      top: 4px;
    }
  }
  .checkmark {
    height: 18px;
    width: 18px;
    border-radius: 15px;
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
/*.dropdown>.dropdown-toggle:active { pointer-events: none;}*/
p#dropdownMenuButton {
  text-align: center;
  cursor: pointer;
  span {
    cursor: pointer;
  }
}
.personlist:hover p#dropdownMenuButton span {
  display: block;
}
.dropdown-menu {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #0000000d;
  border: none;
  margin-top: 1px;
  padding: 3px 0px;
  a.dropdown-item {
    letter-spacing: 0px;
    color: #0b0f16 !important;
    font-size: $pophoverfont;
    line-height: 16px;
    padding: 8px 10px;
  }
}
.dropdown-item.active,
.dropdown-item:active,
.teamdrop ul li:hover {
  background-color: #f4f6fb;
  cursor: pointer;
}
.gray {
  background: grey;
}
.green {
  background: $sactive;
}
.red {
  background: $errorcolor;
}
.chat-screen-top {
  background: transparent linear-gradient(90deg, #5356e0 55%, #167bd2 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 8px 20px #0e3ec233;
  padding: 9px 15px 8px;
  @include maxbig1 {
    padding: 7px 15px 6px;
  }
  .images {
    float: left;
    margin-right: 1rem;
    img {
      width: 46px;
      height: 46px;
      border-radius: $halfpercent;
      @include maxbig1 {
        width: 44px;
        height: 44px;
      }
    }
  }
  h4 {
    letter-spacing: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0 0;
    span {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  p {
    letter-spacing: 0px;
    color: #c2c3f4;
    font-size: $smallfont;
    line-height: 15px;
    margin: 0px;
  }
  span.fix-dotted {
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: $halfpercent;
  }
}
.chat-top-icon {
  float: left;
  padding-left: 1.5rem;
  @include big5 {
    padding-left: 0.8rem;
  }
  ul {
    padding: 0px;
    margin: 0px;
    li {
      padding: 0 7px;
      display: inline;
      span {
        color: #fff;
        font-size: 25px;
        background: #4e8adc;
        padding: 6px;
        border-radius: $halfpercent;
        cursor: pointer;
        @include maxbig1 {
          font-size: 22px;
        }
      }
    }
  }
}
.all-icon-topbar {
  float: right;
  margin-right: 1rem;
  margin-top: 10px;
  @include big5 {
    margin-right: 0rem;
  }
}
.search-chat {
  float: left;
  border-right: 1px solid #4e82de;
  padding-right: 1.5rem;
  @include big5 {
    padding-right: 0.8rem;
  }
  span {
    font-size: 28px;
    color: #fff;
    @include maxbig1 {
      font-size: 24px;
    }
  }
}
.contact-lists {
  float: left;
  height: 86vh;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
  @include big10 {
    height:85vh;
  }
  @include big8 {
    height: 83vh;
  }
  @include big9 {
    height: 82vh;
  }
  h5{
    letter-spacing: 0px;
    color: #657584;
    font-size: 12px;
    line-height: 16px;
    float: left;
    padding: 0.5rem 0.8rem 0rem;
  }
}
.addcreation {
  text-align: center;
  margin: 0.5rem 1rem 0 0rem;
  float: right;
  position: absolute;
  right: 0rem;
  bottom: 3rem;
  @include maxbig1 {
    bottom: 2.2rem;
  }
  p {
    background: transparent
      linear-gradient(141deg, #7960ff 0%, #4660f4 42%, #009fe5 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 3px 5px #0e3ec229;
    color: #fff;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px;
    @include maxbig1 {
      height: 40px;
      width: 40px;
    }
  }
  p:hover {
    box-shadow: 0px 8px 20px #0e3ec25c;
  }
  span {
    font-size: 28px;
    line-height: 45px;
    @include maxbig1 {
      font-size: 22px;
      line-height: 38px;
    }
  }
  span.icon_close {
    font-size: 21px;
  }
}

/*div#team-member-lsits ul.detail-lists::-webkit-scrollbar, div#team-member-lsitscheckbox ul.detail-lists::-webkit-scrollbar, .contact-lists::-webkit-scrollbar, .chat-inner-sections::-webkit-scrollbar { width: 3px; }
div#team-member-lsits ul.detail-lists::-webkit-scrollbar-track, div#team-member-lsitscheckbox ul.detail-lists::-webkit-scrollbar-track, .contact-lists::-webkit-scrollbar-track, .chat-inner-sections::-webkit-scrollbar-track {background: #fff;}
div#team-member-lsits ul.detail-lists::-webkit-scrollbar-thumb, div#team-member-lsitscheckbox ul.detail-lists::-webkit-scrollbar-thumb, .contact-lists::-webkit-scrollbar-thumb, .chat-inner-sections::-webkit-scrollbar-thumb {background: #cacaca ; height:15px; min-height: 20px;}
div#team-member-lsits ul.detail-lists::-webkit-scrollbar-thumb:hover, div#team-member-lsitscheckbox ul.detail-lists::-webkit-scrollbar-thumb:hover, .contact-lists::-webkit-scrollbar-thumb:hover, .chat-inner-sections::-webkit-scrollbar-thumb:hover {background: #cacaca ; }*/

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #cacaca;
  height: 15px;
  min-height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.addcreation {
  .hide {
    display: none;
  }
}
.teamdrop {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  width: 140px;
  float: right;
  position: absolute;
  bottom: 6.5rem;
  right: 1rem;
  display: none;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      font-size: $pophoverfont;
      line-height: 19px;
      letter-spacing: 0px;
      color: #000000;
      list-style: none;
      padding: 6px 10px;
      span {
        color: $btncolor;
        font-size: 16px;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }
}
.dropdown.slope.centers .dropdown-menu {
  left: -7.5rem !important;
}

.modal {
  background: #0000007d;
}
.modal-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #0000001c;
  border-radius: 5px 5px 5px 5px;
  border: none;
  width: 421px;
  margin: 7rem auto 0;
  @include maxbig1 {
    margin: 3rem auto 0;
  }
  .modal-header {
    background: transparent
      linear-gradient(94deg, #7960ff 0%, #4660f4 68%, #009fe5 100%) 0% 0%
      no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    min-height: 45px;
    padding: 10px 25px;
    .cls-pop {
      float: right;
      font-size: $inputfont;
      line-height: 20px;
      color: #fff;
    }
    .close {
      display: none;
    }
    span.icon_close.top {
      color: #fff;
      position: relative;
      top: 5px;
      left: 2px;
      cursor: pointer;
    }
  }
  .modal-title {
    text-align: left;
    font-size: $inputfont;
    color: #ffffff;
    line-height: 24px;
    font-family: "apmedium";
    font-weight: 100;
  }
  .modal-body {
    padding: 1rem 25px;
    label {
      text-align: left;
      letter-spacing: 0.1px;
      color: #717171;
      font-size: $labelfont;
      line-height: 20px;
      width: 100%;
      span.star {
        color: $errorcolor;
      }
      input {
        height: 40px;
      }
      input[type="radio"] {
        float: left;
        width: 15px;
        height: 15px !important;
        margin-right: 7px;
        margin-bottom: 0 !important;
      }
      p {
        margin-bottom: 0;
      }
    }
    label.radiotypes {
      p {
        letter-spacing: 0px;
        color: #000000de;
        font-size: $inputfont;
        line-height: 19px;
        margin-top: 0.7rem;
      }
    }
  }
  .modal-footer {
    padding: 7px 20px;
    .btn {
      letter-spacing: 0px;
      color: #ffffff;
      font-size: $labelfont;
      line-height: 24px;
    }
    .cancel {
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      height: 32px;
      letter-spacing: 0.24px;
      color: #000000;
      font-size: $labelfont;
      line-height: 22px;
      width: 105px;
      background: #fff;
      margin: 0 6px;
      &:hover {
        border-color: #1d76f2;
        color: #1d76f2;
        background:transparent;
      }
    }
    .save {
      background: #1d76f2 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border: 1px solid $btncolor;
      border-radius: 4px;
      height: 32px;
      letter-spacing: 0.24px;
      color: #fff;
      font-size: $labelfont;
      line-height: 22px;
      width: 105px;
      &:hover {
        color: #fff !important;
      }
    }
  }
  .noboders.modal-footer {
    border: 0px;
  }
}
.text-center.img-uplo-crea-sec {
  width: 88px;
  height: 88px;
  background: #f1f5f9 0% 0% no-repeat padding-box;
  margin: 0 auto 2rem;
  border-radius: 50%;
  .myLabel-modal {
    margin-bottom: 0px;
    display: inline-block;
    cursor: pointer;
    line-height: 5px;
    input[type="file"] {
      position: absolute;
      top: -1000px;
    }
    .img-up-icn-cntr {
      height: 88px;
      width: 88px;
      border-radius: 50%;
    }
  }
  span.up-txt-full {
    position: absolute;
    top: 3rem;
    width: 28px;
    height: 28px;
    background: #ffd9d9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000a;
    color: #f81919;
    border-radius: 50% !important;
    display: inline-block;
    margin-left: 1rem;

    i.icon_delete.pop-us-full {
      line-height: 28px;
      font-size: 16px;
    }
  }
}
.btn-primary:focus {
  box-shadow: none !important;
  outline: none !important;
}
.teammemebers-add {
  background: #f4f7fa;
  border: 1px solid #e7edf3;
  border-radius: 4px;
  font-size: $inputfont;
  width: 100%;
  padding: 0px 10px;
  line-height: 24px;
  margin: 0 0 0.5rem;
  p.chip-view {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 3px 4px 4px;
    letter-spacing: 0px;
    color: #000000de;
    font-size: 13px;
    line-height: 12px;
    margin: 5px 3px 0;
    .icon_close {
      color: #1d76f2;
      font-size: 8px;
      font-weight: 600;
      margin-left: 5px;
      cursor: pointer;
      top: 0;
    }
  }
  p.chip-view.input {
    background: transparent;
    padding: 0;
    border: none;
    input {
      background: transparent;
      border: none;
      height: auto;
      padding: 0;
      line-height: normal;
    }
  }
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 1;
}
.close:hover {
  color: transparent;
}
div#team-member-lsits {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 45px #00000019;
  border-radius: 4px;
  margin-top: -4px;
  padding: 4px 0;
  position: absolute;
  width: 88.4%;
  height: auto;
  float: left;
  z-index: 9;
  ul.detail-lists {
    letter-spacing: 0px;
    color: #000000;
    font-size: $pophoverfont;
    line-height: 19px;
    padding: 0;
    list-style: none;
    max-height: 155px;
    overflow-y: scroll;
    margin: 0px;
    li {
      padding: 5px 15px;
      cursor: pointer;
    }
  }
  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
}

.chattoparea {
  margin: 0.5rem 0 2rem;
  @include maxbig1 {
    margin: 0rem 0 1.5rem;
  }
  ul {
    color: #000000de;
    font-size: 12px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    li {
      list-style: none;
      padding: 0 1.1rem;
      display: grid;
      text-align: center;
      cursor: pointer;
      span {
        box-shadow: 0px 1px 2px #0000001a;
        font-size: $largefont;
        border-radius: $halfpercent;
        width: 41px;
        height: 41px;
        line-height: 38px;
        margin: 0 auto 7px;
      }
      &:nth-child(1) span {
        background: #eee8ff 0% 0% no-repeat padding-box;
        color: #9162e8;
      }
      &:nth-child(2) span {
        background: #e4f8f6 0% 0% no-repeat padding-box;
        color: #41a297;
      }
      &:nth-child(3) span {
        background: #e5f0ff 0% 0% no-repeat padding-box;
        color: $btncolor;
      }
      &:nth-child(4) span {
        background: #fff0e6 0% 0% no-repeat padding-box;
        color: #ff761a;
      }
      &:nth-child(5) span {
        background: #eee8ff 0% 0% no-repeat padding-box;
        color: #966fff;
      }
    }
  }
}
.chattoparea-msg {
  letter-spacing: 0px;
  color: #000000;
  font-size: $inputfont;
  line-height: 26px;
  background: #eaf4ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #0000000f;
  border-radius: 6px;
  display: table;
  padding: 5px 5px 1px;
  margin: 0 auto 12px;
  @include maxbig1 {
    border-radius: 5px;
    padding: 4px 4px 2px;
    margin: 0 auto 8px;
  }
}

div#team-member-lsits li:hover {
  background: #f4f7fa;
}
.chat-screen-top-second {
  background: transparent linear-gradient(90deg, #5356e0 55%, #167bd2 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 8px 20px #0e3ec233;
  padding: 1rem 4rem 0;
  label {
    font-size: $inputfont;
    line-height: 24px;
    color: #ffffff;
    width: 100%;
  }
  p {
    b {
      position: absolute;
      margin-top: 1rem;
      margin: 1.1rem 0 0 0.5rem;
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }
  }
  input {
    padding: 6px 2rem 1px;
  }
  .messag {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    float: left;
    margin: 0 0 1rem;
    b {
      float: left;
      color: #000000;
      width: 3rem;
      justify-content: center;
      height: 47px;
      display: flex;
      align-items: center;
      font-weight: 400;
      padding-top: 3px;
    }
  }
  .teammemebers-add-new {
    height: 47px;
    padding: 7px 10px 7px 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: 100%;
    float: left;
    margin: 0 0 1rem;
    p.chip-view {
      background: #ecf3fc 0% 0% no-repeat padding-box;
      border: 1px solid #dde8f6;
      border-radius: $inputfont;
      font-size: $labelfont;
      line-height: 24px;
      color: #000000de;
      display: inline-block;
      padding: 1px 5px 0px 2px;
      margin: 3px;
      width: auto;
      img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
      span {
        color: #1d76f2;
        font-size: 10px;
        font-weight: bold;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    p.chip-view.input {
      background: #fff;
      border: none;
      padding: 0;
      border-radius: 0;
      margin: 0;
      input {
        background: transparent;
        border: none;
        margin: -9px 0 0;
        height: auto;
        padding: 6px 6px 0;
      }
    }
  }
  div#team-member-lsits {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 45px #00000019;
    border-radius: 4px;
    padding: 3px 0;
    position: absolute;
    width: 250px;
    height: auto;
    float: left;
    margin-left: 1rem;
  }
}


.react-datepicker {
  border: 0px;
  font-family: "apregular";
}
.react-datepicker__month-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #0000001f;
  border-radius: 6px;
  .react-datepicker__header {
    background: transparent;
    border: none;
    letter-spacing: 0px;
    color: #000000;
  }
  .react-datepicker__day {
    letter-spacing: 0px;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 7px 6px;
  }
  .react-datepicker__day-name {
    font-family: "apregular";
    font-size: 12px;
    margin: 0 0.166rem;
    font-weight: 600;
  }
  .react-datepicker__day--keyboard-selected {
    color: #fff !important;
    background: #1d76f2 !important;
  }
  .react-datepicker__month {
    margin-top: 0;
  }
  .react-datepicker__day:hover,
  .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background: #e5f0ff;
    color: #1d76f2 !important;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--range-end.react-datepicker__day--in-range {
    background: #1d76f2;
    color: #fff !important;
    font-weight: 400;
    letter-spacing: 0.2px;
  }
  .react-datepicker__current-month {
    font-family: "apbold";
    margin: 0 0 0.5rem;
    font-weight: 500;
  }
  .react-datepicker__day--today,
  .react-datepicker__month-text--today,
  .react-datepicker__quarter-text--today,
  .react-datepicker__year-text--today {
    font-weight: 400;
  }
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: #ffffff;
}

.chat-screen-top {
  .col-sm-7 {
    @include big5 {
      flex: 0 0 48%;
      max-width: 48%;
    }
  }
  .col-sm-5 {
    @include big5 {
      flex: 0 0 52%;
      max-width: 52%;
    }
  }
}

@media (max-width: 1650px) {
  .container-fluid.login-main {
    background: url(/static/media/bg.a5480636.jpg) no-repeat top center;
    background-size: cover;
    height: 100vh;
  }
}
@media (max-width: 1399px) {
  .logo {
    margin: 1.5rem 0 2.5rem;
  }
}
@media (max-width: 1399px) and (min-height: 701px) {
  .container-fluid.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/static/media/bg.a5480636.jpg) #f6fbff no-repeat top 4rem
      center;
    background-size: cover;
    height: 100vh;
  }
}
@media (max-height: 700px) {
  .container-fluid.login-main {
    background: url(/static/media/bg.a5480636.jpg) center top cover no-repeat
      rgb(246, 251, 255) !important;
  }
}


.custom-control-label::before{background:#D6D6D6; border-color: transparent;}
.modal-footer>* {margin: 0.35rem;}
.css-2b097c-container {margin-bottom: 9px;}
.pin-bottom {
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border: 1px solid #F4F4F4;
  padding: 1px;
  float: left;
  width: 100%;
  margin-bottom: 0.6rem;
}