.srvalues {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #00000014;
  border: 1px solid #DFE3E9;
  border-radius: 4px;
  padding: 0.7rem 0.8rem;
  float: left;
  position: absolute;
  right: 3rem;
  width: 145px;
  top: 2.2rem;
  z-index: 99;
  p{
    font-size: 11px;
    margin: 0 0 0.4rem;
  }
  ul{
    float: left;
    width: 100%;
    padding: 0;
    li{
      button{
        background: #F8F9FC 0% 0% no-repeat padding-box;
        border-radius: 2px;
        border: none;
        letter-spacing: 0.24px;
        color: #000000;
        font-size: 12px;
        line-height: 16px;
        width: 30px;
        height: 30px;
        float: left;
        margin: 0 0.6rem 0 0;
        &:focus{
          background: #1d76f2;
          color: #fff;
          outline: 0;
        }
      }
    }
  }
  h5{
    background: #F4F7FA 0% 0% no-repeat padding-box;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
    opacity: 1;
    float: left;
    width: 100%;
    margin: 0.6rem 0 0.7rem;
    span{
      background: #F4F7FA 0% 0% no-repeat padding-box;
      border-right: 1px solid #E7EDF3;
      border-radius: 4px 0px 0px 4px;
      font-size: 10px;
      padding: 6px 6px 4px;
      float: left;
    }
    input{
      letter-spacing: 0.18px;
      color: #ACB6CB!important;
      font-size: 9px;
      line-height: 18px;
      border: 0;
      background: transparent;
      width: 83%;
      padding: 3px 5px 0;
    }
  }
  .saves{
    background: #1D76F2 0% 0% no-repeat padding-box;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
    box-shadow: none;
    border: none;
    width: 50%;
    line-height: 21px;
    padding-top: 3px;
    font-size: 12px;
  }
  .clears {
    border: 0;
    background: transparent;
    font-size: 12px;
  }
}

.filterrowright{
  span.inputsearch {
    background: #F4F7FA 0% 0% no-repeat padding-box;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
    width: 145px;
    float: left;
    height: 34px;
    padding: 1px 10px 0;
    letter-spacing: 0.24px;
    color: #000000;
    font-size: 12px;
    line-height: 33px;
    span.icon_down_arrow {
      font-size: 13px;
      float: right;
      padding-top: 9px;
    }
  }
}

input:focus{outline:0;}
.srvalues ul li:nth-child(3) button {margin: 0;}

.filterrowright.new{
  .col-sm-3.col-md-3 {
    padding:0px;
    float: left;
    max-width: 268px;
    &:nth-child(2){
      .srvalues{
        right: 2.2rem;
      }
    }
  }
  .col-sm-6.col-md-6.text-right.pr-0 { max-width: 100%;}
  &.prch { 
    .col-sm-3.col-md-3{max-width: 322px;}
  }
}

.ctables.newreports{
  .sc-hKgILt.sc-eCssSg.sc-jSgupP, .sc-hKgILt.sc-eCssSg.sc-iqHYGH {
    max-width: 50%!important;
  }
}

span.sc-ezrdKe.sc-kLgntA.gdMBZx.gaMRwo{display: none;}
.sc-cxFLnm.eHxVgR{
  position: absolute;
  top: 9.2rem;
  left: 1.7rem;
  float: left;
  display: block;
  select.sc-iwyYcG.fFngYM {
    background: #F4F7FA 0% 0% no-repeat padding-box;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
    height: 32px;
    margin-left: 0.5rem;
    &:focus{outline:0;}
  }
  &::before {
    content: "Show";
    letter-spacing: 0.24px;
    color: #000000;
    font-size: 12px;
  }
  svg {top: 4px;}
}
.css-2b097c-container{z-index: 99;}

span.sc-ezrdKe.sc-bYEvPH.gdMBZx.daSVzR{
  
  &:before {
    content: "showing";
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
  &:after {
    content: "entries";
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
}

.dQdisw {
  height: 30px!important;
  width: 30px!important;
  margin: 0 2px;
  padding: 0px!important;
  &:hover:not(:disabled){
    background: #1D76F2!important;
    svg{
      path:nth-child(1){fill:#fff;}
    }
  }
}