@import 'variables.scss';

@font-face {
    font-family: 'apbold';
    src: url('../fonts/Acumin-BdPro.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'apmedium';
    src: url('../fonts/AcuminPro-Medium.woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'apregular';
    src: url('../fonts/Acumin-RPro.woff');
    font-weight: normal;
    font-style: normal;
}

/*******Reset CSS********/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a:hover {
    text-decoration: none;
}
body {
  font-family: 'apregular' !important;
  font-size:14px;
  margin:0 auto;
  
}
html, body {
    height: 100%;
}

/**************/
.main-header-sec{
    position:fixed;
    left:0;
    right:0;
    background: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    z-index: 1;
}
.navbar-header-sec {
    padding: 5px 0;
}
.col-md-3.fixed.pl-0.bg-light.left {
    padding-top: 5rem;
    padding-right: 0;
}
.bg-light {
    background-color: #E8EEF6 !important;
}
nav#topNav {
    border-bottom: 1px solid #0F2369;
    background-color: #0F2369;
}
.logo {
    width: 150px;
    /* height: 40px; */
    vertical-align: middle;
}
.content-box-banner-sec {
    padding-top: 60px;
    position:relative;
    height: 100%;
}
.left-side-bar {
    background: #F9FCFF;
    border: 1px solid #E6EBF0;
    /* border-radius: 12px; */
    opacity: 1;
    height: 100%;
    /*position: fixed;*/ 
     /*width: 250px; */
     top: 60px; 
    color: #707070;
    transition: all 0.3s;
    z-index: 1;
    overflow: hidden;
    /*margin-top: -5px;*/
}
.left-side-bar-inner-con{
    padding:15px;
    position:fixed;
}
.right-side-content-con{
    padding: 10px 10px;
    position:relative;
    height: calc(100vh - 60px);
}
ul.log-rig {
    margin: 0;
    padding: 0;
}
ul.log-rig li{
    display: inline-block;
}
ul.log-rig li a{
    display: inline-block;
    padding: 0 10px;
}
.pho-ne li a{
color: #fff;
font-size: 14px;
}
.pho-ne li a:focus{
    color:#fff;
}
.pro-cir {
    background-color: #1D76F2;
    padding: 8px;
    /* margin-top: -14px!important; */
    border-radius: 50px;
    font-size: 12px;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.profile-drop .dropdown-menu a {
    font-size: 14px;
    line-height: 19px;
    padding: 4px 15px;
}
.profile-drop .dropdown-menu {
    width: 150px;
    right: -50%;
    left: unset;
}
.use-pro-drop::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #fff;
    top: 3px;
    position: relative;
}
ul.log-rig li a img{
    vertical-align: middle;
    align-items: center;
}
.use-pro-drop {
    /* padding: 0 10px; */
    background: none;
    border: none;
    
}
.logo-arroe {
    vertical-align: middle;
    padding: 0 0 0 2px;
}
.use-pro-drop:focus{
    background-color: none;
    box-shadow: none;
}
.use-pro-drop:hover{
    background-color: none;
    box-shadow: none;
}
/****************/
.left-tab-side-bar {
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-tab-side-bar li a img{
    padding: 0 10px 0 0px;
    vertical-align: middle;
}

.left-tab-side-bar li.active a{
    font-weight:500;
}
.left-tab-side-bar li a{
text-align: left;
font-size:14px;
letter-spacing: 0;
color: #0F2369;
font-weight:400;
line-height: 20px;
padding: 12px 15px;
}
.left-tab-side-bar li{
    display:block;
    /* padding:10px 0px; */
    
}
ul.left-sub-tab-side-bar{
    padding:0;
    margin:0;
}
.left-sub-tab-side-bar li{
    display: block;
    width: 100%;
    padding: 0;
}
.left-sub-tab-side-bar li a {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    color: #0F2369;
    font-weight: 400 !important;
    line-height: 20px;
    padding: 8px 0 8px 45px;

}
li.nav-item.active {
    background: #d4ddeb;
}
.left-sub-tab-side-bar li.active a {
    font-weight: 500 !important;
    background: #bac8dd;
    /* opacity: 0.2; */
    letter-spacing: 0.07px;
    color: #0F2369;
    /* border-left: 3px solid #4E74A4; */
}
/***********************/
.custom-drop-over .form-control:focus{
    outline:0;
    box-shadow:none;
  }
  .custom-drop-over .form-control {
    font-size: 13px;
    text-align: left;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 26px;
    padding: 5px 10px;
    min-height: 35px;
    background: transparent;
    width: 200px;
  }
  
  .custom-drop-over .dropdown-toggle::after{
      position: absolute;
      right: 10px;
      top: 18px;
  
  }
  .custom-drop-over .dropdown-menu.show {
    display: block;
    padding: 3px 0px;
    width: 100%;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 7px;
  }
  
  .custom-drop-over .dropdown-item{
  padding: .25rem 0.5rem;
  font-size: 12px;
  }
  .focus-bdr-none:focus{
    border-color: #eee;
  }
  .logo-right-user {
    width: 50px;
    /* height: 50px; */
    float: left;
    margin-right: 15px;
}

.bread-crum-cus{
    margin: 0;
    padding: 0;
}
.bread-crum-cus li{
    text-align: left;
    font-size:16px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.bread-crum-cus li a{
    text-align: left;
    font-size:18px;
    letter-spacing: 0.09px;
    color: #0F2369;
}
.user-icon-right-head p{
    text-align: left;
    font-size:12px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.user-containe-sec {
    box-shadow: 0px 2px 3px #0000001D;
    border-radius: 10px;
    opacity: 1;
    background: #fff;
    min-height: 485px;
    max-height: 100%;
}
.bg-right-lg{
    background: #F8F8F8;
}
.call-list-sec li a.nav-link.active {
    /* font-weight: 500; */
    border: 0px;
    background: transparent !important;
    border-bottom: 3px solid #1D76F2 !important;
    margin: 0px;
    color: #1D76F2 !important;
    
}
.call-list-sec li a.nav-link:first-child{
    margin-left: 15px;
}
.call-list-sec li a.nav-link {
    text-align: left;
font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
    line-height: 24px;
   
}
.nav-tabs.call-list-sec .nav-link:focus, .nav-tabs.call-list-sec .nav-link:hover {
   border-bottom: 3px solid #1D76F2 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom:0;
}
.nav-tabs.call-list-sec .nav-link{
    border:none !important;
}
.nav-tabs.call-list-sec .nav-item {
    margin-bottom: 0px;
}
.cal-for-para-sec{
text-align: left;
    font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
padding: 15px 0;
}
.lft-vertical-tab{
background: #FCFCFC ;
border: 1px solid #E5E5E5;
border-radius: 7px;
min-height: 150px;
}
.call-list-sec-s2 li a.nav-link {
    text-align: left;
font-size: 14px;
letter-spacing: 0.28px;
color: #000000;
opacity: 1;
    line-height: 24px;
   
}
.nav-tabs.call-list-sec-s2 .nav-link:focus, .nav-tabs.call-list-sec-s2 .nav-link:hover {
    color: #1D76F2 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    border: none;
}
.call-list-sec-s2 li a.nav-link.active {
    /* font-weight: 500; */
    border: 0px;
    background: transparent !important;
    /* border-bottom: 3px solid #1D76F2 !important; */
    margin: 0px;
    color: #1D76F2 !important;
}
ul.nav.nav-tabs.call-list-sec-s2 {
    border-bottom: none;
}
.nav-tabs.call-list-sec-s2 .nav-link{
    border:none !important;
    
}
.nav-tabs.call-list-sec-s2 .nav-item {
    margin-bottom: 0px;
    display: block;
    width: 100%;
    /* padding: 3px 0; */
}
.succes-bar{
    /* background: #F2FDE7;
    box-shadow: 0px 3px 6px #0000000B;
    border: 1px solid #EFEFEF; */
    opacity: 1;
    padding: 8px 10px;
    min-height: 35px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 2rem;
    left: 50%;
    z-index: 1;
}
.succes-bar img{
    margin-right: 5px;
 vertical-align: middle; 
    /* width: 20px;
    height: 20px;
    float: left; */
}
.succes-bar span{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.26px;
    color: #fff;
    opacity: 1;
    line-height: 0;
}


.user-main-header-sec.d-flex.justify-content-between.mb-4 {
    align-items: center;
}
.emp-info-con{
    background: #FFFFFF;
border: 1px solid #E8EEF6;
border-radius: 7px;
opacity: 1;
/* min-height: 260px; */
padding: 1.5rem 2rem;
}
.form-head-em-info {
text-align: left;
font-size: 13px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-weight: 500;
}
.form-head-em-info-s1 {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #1D76F2;
    opacity: 1;
    font-weight: 500;
    }
    .Password-con{
        background: #FFFFFF;
/* border: 1px solid #E8EEF6; */
/* border-radius: 7px; */
opacity: 1;
/* min-height: 260px; */
padding: 1.5rem 0rem; 
    }
    .form-head-pass-info {
        text-align: left;
        font-size: 13px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-weight: 500;
        vertical-align: middle;
        line-height: 34px;
    }
    .custom-form-pass{
    height: 34px;
    font-size: 13px;
        background: #F7F7F7;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    color:#0F2369;
    }
    input[type="text"]{
        color:#0F2369 !important;
    }
    select{
        color:#0F2369 !important;
    }
    ::placeholder{
        color:#0F2369 !important; 
    }
    .custom-form-pass:focus{
        box-shadow: none;
        outline: 0;
    }
    .btn.cont-btn:focus{ box-shadow: none;
        outline: 0;
    }
    .cont-btn {
        background: #1D76F2;
        border-radius: 4px;
        opacity: 1;
        text-align: left;
        font-size: 13px;
        letter-spacing: 0.3px;
        color: #fff;
        min-width: 100px;
        text-align: center;
        padding: 6px 15px;
    }
    .btn.cont-btn{ color: #fff;}
.mandt{color:#ff6767;vertical-align: sub;}
.flag-drop{
    height: 34px;
    font-size: 13px;
    background: #F7F7F7;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    padding: 5px 5px;
}
.logo-right-flag{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.error-msg-txt{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.26px;
    color: #ff6767;
    opacity: 1;
    line-height: 25px;
}
.error-icon {
    vertical-align: middle;
margin-right: 3px;
}
.btn.change-btn:focus{ box-shadow: none;
    outline: 0;
}
.change-btn {
    background: #A0BAE6 ;
    border-radius: 4px;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #fff;
    min-width: 100px;
    text-align: center;
    padding: 6px 10px;
}
.btn.change-btn{ color: #fff;}
.btn.delet-btn:focus{ box-shadow: none;
    outline: 0;
}
.delet-btn {
    background: #fff;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #1F1F1F;
    min-width: 100px;
    text-align: center;
    padding: 6px 15px;
    border: 1px solid #D8D8D8;
}
.logo-right-suc-big {
    width: 90px;
    margin: 0 auto;
}
.warnin-con {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8EEF6;
    border-radius: 7px;
}
.war-head {
    background: #FF5655 ;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    padding: 8px 15px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.55px;
    line-height: 15px;
    font-weight: 400;
}
.war-body-panel {
    background: #fff ;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    padding: 15px 15px;
    color: #FF5655;
    font-size: 13px;
    letter-spacing: 0.55px;
    line-height: 15px;
    font-weight: 400;
}
/* modal overall custom css */
.modal-dialog.whitetheme h4.modal-title {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    color: #fff;
    font-weight: 400;
}
.modal-dialog.whitetheme .modal-content{
    border: none;
}
.modal-dialog.whitetheme .modal-header{
    background-color: #1D76F2;
    padding: 15px 15px;
}
button.close:focus{outline:none;box-shadow: none;}
button.close:hover{outline:none;box-shadow: none; color:#fff;}

button.close {
    position: absolute;
    right: 1rem;
    top: 12px;
    color: #fff;
    opacity: 1;
    font-size: 20px;
    font-weight: 400;
}
.modal-dialog.whitetheme p {
    font-size: 13px;
    margin: 0 0 7px;
    line-height: 25px;
}
.modal-dialog.whitetheme input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    height: 38px;
    padding: 0 1rem;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #000 !important;
}
.modal-dialog.whitetheme .modal-body { padding: 1rem 1.5rem 2rem;}
button.btn.btn-default.cancel {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    height: 34px;
    letter-spacing: 0.24px;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
                    width: 80px;
}
button.btn.btn-default.success{
                background: #1D76F2 0% 0% no-repeat padding-box;
                border-radius: 4px;
                border: 1px solid #1D76F2;
    border-radius: 4px;
    height: 34px;
    letter-spacing: 0.24px;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
                    width: 80px;
}
.modal-dialog.whitetheme .modal-footer { padding: 0.8rem 1.2rem;}
.btn.focus, .btn:focus{box-shadow:none!important;}
.modal-dialog.whitetheme {
    max-width: 400px;
    margin: 10rem auto;
}
.modal-dialog.whitetheme input:focus{
    outline: none;
    box-shadow: none;
}
.custom-form-drops{    
    height: 38px;
    font-size: 13px;
    color:#0F2369;
    background: #fff;
    border: 1px solid #DFE3E9;
    border-radius: 4px;}
    .custom-form-drops:focus{
        outline: none;
        box-shadow: none;
    } 
    
    button#dropdownMenuButton:hover {
        background: none;
    }
/***************reginational css*******/
.tab-content.inner-righttwo {
    margin: 10px;
}
.form-check.form-check-inline .form-check-input {
    height: 23px;
    width: 23px;
}
.title-sm-bold {
    font-weight: bold;
    font-size: 13px;
}
.Personal-cont-sec p.title-sm-bold {
    margin-bottom: 10px;
}
.form-check.form-check-inline .form-check-label {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}
.custom-select {
    font-size: 14px;
    border: 1px solid #0000001A;
    color: #0F2369;
}
.custom-select:focus {
    outline: none !important;
}
.col-form-label {
    font-size: 13px;
    font-weight: 500;
}
.col-form-label sup {
    color: red;
    top: -.2em;
}
button.btn.btn-upd {
    background: #1D76F2;
    border-radius: 4px;
    color: #fff;
    padding: 7px 28px;
    font-size: 13px;
}
.has-search .form-control {
    color: #A8A8A8;
    padding-left: 2.375rem;
    background: #F7F7F7;
    font-size: 12px;
    height: calc(1.5em + .75rem + 4px);
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: 12px;
}
table.cus-dt thead>tr>th {
    background: none;
    border: none !important;
}
table.cus-dt {
    border: none;
}
/* .cus-dt tbody tr:nth-of-type(odd) {
    background: #f3f6fa;
    border-radius: 8px;
} */
.table-bordered td, .table-bordered th {
    border: 0px;
}

/*******************datatable custom css***/
/* .dataTables_wrapper table.dataTable tbody td {
    padding: 10px 10px !important;
    font-size: 13px;
   vertical-align: middle;
} */
.dataTables_wrapper table.dataTable tbody td h4{
    font-size: 13px;
    vertical-align: middle;
    margin: 0;
    line-height: 2;
    font-weight: 400;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.25em !important;
}
table.dataTable{
    border: 1px solid #DFE3E9;
    border-radius: 8px;
}
/* end */
.page-item.disabled .page-link {
    border: none;
}
li.paginate_button.page-item.active a {
    color: #fff !important;
    background: #1d76f2 !important;
    border: 0px !important;
    border-radius: 50px;
}
/* .inner-rightthree {
    width: 90%;
} */
.page-link {
    padding: 4px 7.7px 0px 7.7px;
}
/* div.dataTables_wrapper div.dataTables_filter {
    display: none;
} */
li.paginate_button.page-item a {
    background: transparent;
    border: 0px !important;
    border-radius: 50px;
    color: #000 !important;
    margin: 0px 3px;
}
/******10/8/2020**************/
span.dt-edit-btn {
    margin-left: 0.55rem;
    padding: 8px 12px;
    background: #E8EEF6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    position: absolute;
    left: 5.5rem;
    top: 5px;
    width: 35px;
    height: 35px;
}
.para-con-head p{
    text-align: left;
    /* font: Regular 16px/21px Helvetica Neue; */
    letter-spacing: 0.32px;
    color: #000000;
    font-size: 14px;
    margin-bottom: 1.5rem;
}
.edit-img-parent{
    position: relative;
}
.com-nub-badge {
    background: #69DE8D39;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #307B46;
    margin-left: 10px;
}
.pur-nub-badge {
    background: #CDEBF2 ;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #0F2369;
    margin-left: 10px;
}
.button.close:hover{
    opacity: none;
}

.bread-crum-cus-call{
    margin: 0;
    padding: 0;
}
.bread-crum-cus-call li{
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.27px;
    color: #717171;
    display: inline-block;
}
.bread-crum-cus-call li a{
    text-align: left;
    font-size: 14px;
    /* letter-spacing: 0.09px;
    color: #0F2369; */
    letter-spacing: 0.28px;
color: #141414;
}
.bread-crum-cus-call li.active a{
    color: #1D76F2; 
}
.bred-arrw {
    vertical-align: middle;
    padding: 0 2.5px;
}
.fon-siz-cus{
    font-weight: 400 !important;
}
.tim-rechange-s1{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
.your-time-sec{
    background: #F7FAFF;
    border: 0.5px solid #E1E8F4;
    border-radius: 4px;
    opacity: 1;
    /* width: 287px; */
    padding: 8px 10px;
    width: 28%;
    float: left;
    margin-top: 15px;
}
.your-time-sec p{
    text-align: left;
   font-size: 13px;
    letter-spacing: 0.26px;
    color: #192D4D;
}
/******************switch slide but****/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-toggle-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-toggle-btn:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-toggle-btn {
    background-color: #1D76F2;
  }
  
  input:focus + .slider-toggle-btn {
    box-shadow: 0 0 1px #1D76F2;
  }
  
  input:checked + .slider-toggle-btn:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider-toggle-btn.round {
    border-radius: 45px;
  }
  
  .slider-toggle-btn.round:before {
    border-radius: 50%;
  }
/******type number ******/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;

}

.cus-time-pick{
    height: 34px;
    font-size: 13px;
    /* background: #F7F7F7; */
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    color: #000;
    width: 30%;
    float: left;
}
.cus-time-pick:focus {
    box-shadow: none;
    outline: 0;
}
.panel-tail {
    background: #FFFFFF ;
    box-shadow: 0px 2px 10px #0000001D;
    border-radius: 8px;
    opacity: 1;
    padding: 0.75rem 0.5rem;
}
.rig-pan-inn-text h4{
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}
.rig-pan-inn-text p{
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.36px;
    color: #ffffff;
    font-family: 'apregular';
}

.profile-drop.show>.btn-secondary.dropdown-toggle{
    background-color: none !important;
}

/*Contact Style*/
.conatct-title h2 {
    font-size: 18px;
    color: #0F2369;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 6px;
}
.conatct-title p {
    font-size: 12px;
    color: #717171;
    line-height: 20px;
}

.contact-tables {
    padding: 20px;
}
.contact-tables .table-warning, .table-warning>td, .table-warning>th {
    background-color: #fff8eb;
}
.contact-tables .panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.table-blue-clr{color: #1D76F2;}

.contact-tables table.table-bordered.dataTable {
    border-right-width: 1px;
}
.contact-tables .table tbody img {
    cursor: pointer;
}

.contact-tables tbody tr {
    background-color: #E8EEF6!important;
    height: 44px;
}
.contact-tables div#example_length {
    margin-bottom: 1rem;
}
tr.hide-table-padding td {
    padding: 0;
  }
  .contact-tables .dataTables_wrapper table.dataTable tbody td {
    font-weight: 500;
}
tr.table-warning th {
    font-size: 13px;
}
.contact-tables tr.clickable.collapsed img
{transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
}


ul.flex-column.subm.nav li a {
    padding-left: 2rem;
}
.left-tab-side-bar li a span {
    padding-right: 5px;
}
.left-tab-side-bar li.nav-item:hover {
    background: #B9C8DD;
    border-left: 3px solid #0F2369;
}
.left-tab-side-bar li {
    border-left: 3px solid #E8EEF6;
}
ul.flex-column.subm.nav li {
    padding: 8px 5px;
    border-left: 0px solid #E8EEF6;
}
li.nav-item.selected {
    border-left: 3px solid #0F2369;
    background: #D4DDEB;
}
.left-tab-side-bar li.nav-item.active {
    background: #B9C8DD;
    border-left: 3px solid #E8EEF6;
}
.flex-grow {
    margin-top: 4.2rem;
}
.user-icon-right-head {
    padding: 1rem 2rem;
    background: #F7F7F7;
}
.user-icon-right-head {
    padding: .8rem 2rem;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}
.user-icon-right-head h4 {
    text-align: left;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    margin: 0.5rem 0;
}
.user-icon-right-head h4 span {
    font-size: 18px;
    color: #1D76F2;
}
.contenthead {
    border: 1px solid #E7EDF3;
    padding: 0px 2rem;
}
ul {
    list-style-type: none;
}
.contentheadlist li {
    display: inline-block;
}
.contentheadlist ul li {
    padding: 12px 2rem;
}
.contentheadlist ul li.active {
    border-bottom: 2px solid #1D76F2;
}
table.dataTable thead .sorting {
    background-image: url(https://cdn.datatables.net/1.10.22/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
    font-size: 13px;
}
div.dataTables_wrapper div.dataTables_info {
    font-size: 13px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting:before {
    display: none !important;
}
table.cus-dt thead > tr > th {
    background: none;
    border: none !important;
    background: #F1F5FA;
    font-family: 'apregular';
    letter-spacing: 0.24px;     
}
.center-container {
    padding: 2rem 5rem;
}
span.fletter {
    width: 35px;
    height: 35px;
    background: #1D76F2;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-right: 10px;
    border-radius: 50px;
}
.dropdown.admindpdwn .admindpdwntop {
    border-radius: 9px;
    padding: 7px 30px 7px 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.dropdown.admindpdwn button:after {
    display: none;
}
span.usertitle {
    display: block;
    font-size: 10px;
    color: #A0BAE6;
}
.center-container table.dataTable .form-check-input {
    margin-top: -8px;
}
table.dataTable {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
.btn-blue-border {
    color: #1D76F2;
    border: 1px solid #1D76F2;
    border-radius: 4px;
    padding: 10px 15px 6px 15px;
    background-color: #fff !important;
    font-size: 14px;
}
div.dataTables_wrapper .col-sm-3.fsearchleft div.dataTables_filter input {
    margin-left: 0;
    display: inline-block;
    width: 100%;
    background: #F4F7FA 0% 0% no-repeat padding-box;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
    font-size: 12px;
    height: 38px;
    padding-left: 25px;
}
.col-sm-3.fsearchleft div.dataTables_filter {
    text-align: left;
}
.col-sm-3.fsearchleft div.dataTables_filter label {
    display: block;
}
.center-container table.dataTable {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
span.ordered {
    background: #9BEBC6 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 5px 3px 5px;
    color: #00723E;
}
span.received {
    background: #1D76F2 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 5px 3px 5px;
    color: #fff;
}
span.canceled {
    background: #FFD3D3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 5px 3px 5px;
    color: #FF0000;
}
span.actioneround {
    background: #E7EDF3;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    line-height: 20px;
    font-size: 20px;
    color: #686868;
}
.cus-dt tbody tr {
    font-size: 12px;
}
div.dataTables_wrapper div.dataTables_length label {
    font-size: 13px;
}
.center-container table.dataTable td {
    vertical-align: middle;
    font-family: 'apregular';
    letter-spacing: 0.24px;
}
.updimg-invoice img {
    border-radius: 11px;
}

#upload_file 
{
    display: none;
}

.upld-btn-img .myFile {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;
}
.upld-btn-img .myFile input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.upld-btn-img label {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 0px #00000029;
    border-radius: 11px;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 41px;
    font-size: 18px;
}
.updedimg-invoice img {
    border-radius: 13px;
}
button.btn.btn-primary {
    font-size: 13px;
    background: #1D76F2;
    padding: .375rem 1.3rem;
    border-radius: 3px;
    font-family: 'apregular';
    letter-spacing: 0.26px;
}
.toolbar1 {
    margin-bottom: 1rem;
}
.tooltip.show {
    font-size: 12px;
}
.upld-btn-img label.myFile:hover {
    background: #c1dbff;
    color: #1d76f2;
}
.cblue {
    color: #1D76F2;
}
.updedimg-invoice img:hover {
    border: 1px solid #1d76f2;
    cursor: pointer;
}
.updedimg-invoice img {
    border: 1px solid #fff;
}
.updedimg-invoice.dropup.custom-drop-over.show .dropdown-menu.show {
    box-shadow: 0px 3px 12px #00000008;
    border: 1px solid #F8F8F8;
}
.contentheadlist h5 {
    font-size: 18px;
    font-family: 'apmedium';
    padding: 1rem 5rem;
}
label.cuslable {
    font-family: 'apmedium';
    color: #000;
    margin-bottom: 6px;
}
input.form-control.custom-form {
    background: #F4F7FA 0% 0% no-repeat padding-box;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    caret-color: #1D76F2;
}
.contentheadlist {
    border-bottom: 1px solid #DFE6EE;
}
.contentfooter {
    border-top: 1px solid #DFE6EE;
    padding: 1rem 2rem;
    position: absolute;
    width: 100%;
    background: #fff;
}
button.btn.btn-cancel {
    color: #000000;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 14px;
    width: 95px;
    margin-right: 10px;
    height: 40px;
}
button.btn.btn-send {
    color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 14px;
    background-color: #1D76F2;
    width: 95px;
    height: 40px;
}
.succes-bar {
    opacity: 1;
    padding: 8px 10px;
    min-height: 35px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    z-index: 1;
}
.succes-bar.blue {
    background: #1D76F2;
    box-shadow: 0px 3px 6px #30B27633;
}
.succes-bar.green {
    background: #30B276;
    box-shadow: 0px 3px 6px #38C18240;
}
.succes-bar.cancel {
    background: #FFD3D3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #E2EEFF33;
    color: #FF0000;
}
.succes-bar.cancel span {
    color: #FF0000;
}
.succes-bar span.toasttick {
    font-size: 27px;
    vertical-align: middle;
}
.admindpdwn.dropdown button {
    background: transparent;
    border: 0;
    text-align: left;
    padding: 0px;
}
.adminnotify {
    position: relative;
    margin-right: 2rem;
}
.adminnotify p sup {
    background: #1D76F2;
    color: #fff;
    font-size: 8px;
    font-family: 'apregular';
    padding: 7px 4px 5px;
    position: absolute;
    top: 0px;
    right: 0rem;
    border-radius: 15px;
}
.adminnotify span {
    color: #fff;
}
.admindpdwn.show.dropdown > .btn-primary.dropdown-toggle, .admindpdwn .btn-primary:not(:disabled):not(.disabled):active {
    background: transparent;
    border: none;
}
.admindpdwn a.dropdown-item {
    padding: .25rem 0.5rem;
    font-size: 12px;
}
.f16 {
    font-size: 16px;
}
.table td, .table th {
    padding: .75rem;
}
.phoneimage img {
    width: 50px;
    height: 50px;
    border: 1px solid #F1F5F9;
    border-radius: 7px;
    padding: 5px;
    margin-right: 1rem;
}
.phoneimage {
    display: flex;
    align-items: center;
}
.ctables {
    padding: 2rem 1.6rem 1rem;
}
.dtbtn-cus span {
    font-size: 27px;
    color: #92A1D0;
    vertical-align: middle;
    padding: 0px 10px;
}
.filterrow {
    display: flex;
    justify-content: space-between;
}
.filltersec {
    width: 125px;
}
.cusselect .css-yk16xz-control {
    background: #F4F7FA;
    color: #000;
    border-radius: 4px;
    height: 42px;
}
span.css-1okebmr-indicatorSeparator {
    display: none;
}
label.cusselect-label {
    float: left;
    margin-top: 10px;
    margin-right: 1rem;
}
// .cusselect {
//     max-width: 130px;
//     display: grid;
// }
button.btn.btn-send-lg {
    font-size: 13px;
    background: #1D76F2;
    padding: .375rem 1.3rem;
    border-radius: 4px;
    font-family: 'apregular';
    letter-spacing: 0.26px;
    height: 40px;
    margin-right: 10px;
    color: #fff;
}
span.prdimgcount {
    color: #ACB6CB;
    font-size: 14px;
}
.input-group-append span.input-group-text {
    background-color: #F4F7FA;
    border: 1px solid #E7EDF3;
}
.input-group-append {
    margin-left: 0px;
}
span.input-group-text {
    font-size: 14px;
}
label.cusfilelabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.cusfilelabel {
    border: 1px solid #1D76F2;
    border-radius: 4px;
    padding: 8px 20px 3px 20px;
    margin: 2px;
    background: #fff;
    color: #1D76F2;
    display: inline-block;
    cursor: pointer;
}
.cusfilelabel :invalid + span {
    color: #1D76F2;
}
.cusfilelabel :valid + span {
    color: #4A4;
}
textarea.form-control.custom-form {
    background: #f4f7fa;
    resize: none;
    font-size: 14px;
    height: 135px;
    caret-color: #1D76F2;
}
input.form-control.custom-form.err {
    border: 1px solid #FF5D5D;
}
.upld-btn {
    border: 1px solid #1D76F2;
    border-radius: 4px;
    padding: 8px 20px 3px 20px;
    margin: 2px;
    background: #fff;
    color: #1D76F2 !important;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}
.upld-btn-img label span {
    font-size: 15px;
    font-weight: 600;
}
.cusupldsec {
    background: #F4F7FA;
    border: 2px dotted #E7EDF3;
    text-align: center;
    padding: 5rem 0px;
}
.cusupldsec-lg {
    font-size: 18px;
}
.cusupldsec-md {
    font-size: 12px;
    margin-top: 5px;
}
.cusupldsec-sm {
    font-size: 12px;
    color: #585858;
    margin-top: 5px;
}
.modal-header {
    background: #1D76F2;
    height: 47px;
}
.modal-title {
    font-size: 14px;
    color: #fff;
}
span.upldimgtot {
    font-size: 11px;
    background: #fff;
    padding: 3px 4px 0px 4px;
    border-radius: 50px;
    color: #1D76F2
}
button.btn.btn-popcuslink.leftbtn {
    flex: auto;
    text-align: left;
}
button.btn.btn-popcuslink {
    font-size: 14px;
    opacity: 0.34;
}
button.btn.btn-primary.popcus {
    padding: .375rem .8rem;
}
.img-selupld {
    display: flex;
    align-items: center;
}
p.img-selupl-size {
    font-size: 12px;
    color: #585858;
    opacity: .6;
}
.img-selupl-name {
    font-size: 13px;
}
button.btn.btn-btn-closeicn-sm span {
    font-size: 14px;
    color: #9D9D9D;
    vertical-align: baseline;
}
button.btn.btn-popcuslink-back span {
    font-size: 18px;
    color: #fff;
    opacity: 1;
}
button.btn.btn-popcuslink-back {
    font-size: 14px;
    padding: 0;
}
.upldmoreicn-pop {
    padding: 2rem 0px;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
}
.upldmoreicn-pop img {
    width: 100%;
}
.updlmoreimg {
    text-align: center;
    margin-bottom: 2rem;
}
.updlmoreimg p span {
    font-size: 35px;
    font-weight: 600;
}
.uploadedimg img {
    width: 100%;
    border: 1px solid #E7EDF3;
    border-radius: 4px;
}
.uploadedimg {
    width: 66px;
    height: 66px;
}
button.btn.btn-remove {
    border: 1px solid #FF5D5D;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 2px;
    background: #fff;
    color: #FF5D5D;
    cursor: pointer;
    font-size: 14px;
}
button.btn.btn-outline {
    background: #E8F2FF 0% 0% no-repeat padding-box;
    border: 1px solid #1D76F25C;
    border-radius: 3px;
    color: #1D76F2;
    font-size: 13px;
}
button.btn.btn-outline span {
    font-size: 18px;
    margin-right: 5px;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #1d76f2;
}
button.btn-blue-border.btn.btn-primary {
    color: #1d76f2;
}
button.btn.btn-download-tran {
    color: #1D76F2;
    font-size: 14px;
    padding: 15px 0px;
}
.dashbox1 .panel-tail {
    background: #1D76F2;
}
.dashbox2 .panel-tail {
    background: #6F4BF1;
}
.dashbox3 .panel-tail {
    background: #F98500;
}
.dashbox4 .panel-tail {
    background: #12AF6D;
}
.chart-title {
    font-size: 18px;
    text-align: center;
    font-family: 'apmedium';
    color: #000;
}
.chartbox {
    border: 1px solid #9797975D;
    border-radius: 7px;
    padding: 1rem 0px;
}
button.navlink.btn.btn-link {
    border-left: 3px solid #e8eef6;
    border-radius: 0px;
}
button.navlink.selected.btn.btn-link {
    background: #D4DDEB;
    border-radius: 0px;
}
button.navlink.btn.btn-link:hover {
    background: #B9C8DD;
    border-left: 3px solid #0F2369;
    border-radius: 0px;
}
.left-tab-side-bar.accordion .card {
    border-radius: 0rem;
}
.left-tab-side-bar.accordion .card .card-body {
    padding: 0.5rem 0px;
}
.left-tab-side-bar.accordion .card .card-body ul li:hover {
    background: #B9C8DD;
    border-left: 3px solid #0F2369;
    border-radius: 0px;
}
.left-tab-side-bar.accordion .card .card-body ul li {
    padding: 0.5rem 1.7rem;
}
.left-tab-side-bar.accordion .card .collapse .card-body ul li.active {
    border-left: 3px solid #0F2369;
    background-color: #B9C8DD;
}
.collapse.show {
    background: #D4DDEB;
}
.left-tab-side-bar.accordion .card .collapse.show .card-body ul li {
    background: #D4DDEB;
    border-left: 3px solid #D4DDEB;
}
.left-tab-side-bar.accordion .card .collapse.show .card-body ul li.active {
    background: #D4DDEB;
    border-left: 3px solid #0F2369;
}

button.dropdown-toggle.btn.btn-actioneround {
    background: #E7EDF3;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    line-height: 20px;
    font-size: 20px;
    color: #686868;
}
button.dropdown-toggle.btn.btn-actioneround:after {
    content: "\e91a";
    font-family: 'UR_OMP' !important;
    border: 0px;
    margin-top: -1px;
}
button.dropdown-toggle.btn.btn-actioneround2 button#dropdown-custom-1 {
    background: transparent;
    border: 0px;
    padding: 0px;
}
button.dropdown-toggle.btn.btn-actioneround2::after {
    display: none;
}
.upldimgdrpdwn.dropdown-menu.show a span {
    font-size: 17px;
    margin-right: 5px;
}
.upldimgdrpdwn.dropdown-menu.show a {
    font-size: 12px;
    padding: 6px 10px;
}
.upldimgdrpdwn.dropdown-menu.show {
    box-shadow: 0px 3px 12px #00000008;
    border: 1px solid #F8F8F8;
    margin: 0 !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #e8eef6;
}
.editlink.dropdown-item {
    color: #1d76f2;
}
a.deletelink.dropdown-item {
    color: #FF5D5D;
}

label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    display: grid;
    cursor: pointer;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}
.sc-jrAGrp.jbXzPk.rdt_TableRow {
    padding: 13px 0px;
}
.fRHOyh {
    border: 0px;
}
.optionmore {
    background: #E7EDF3;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50px;
    line-height: 9px;
    font-size: 20px;
    color: #686868;
}
.optionmore span {
    line-height: .4;
}
.btn-validatebtn {
    font-size: 13px;
    background: #1D76F2;
    padding: .375rem 1.3rem;
    border-radius: 4px;
    font-family: 'apregular';
    letter-spacing: 0.26px;
    height: 40px;
    margin-right: 10px;
    color: #fff;
    display: block;
}
.input-group-prepend span {
    background: #F4F7FA;
    border: 1px solid #e7edf3;
}
.custom-form.clndr {
    cursor: pointer;
    text-transform: uppercase;
}
.custom-form::-webkit-input-placeholder {
    color: #ACB6CB !important;
}
.custom-form:-ms-input-placeholder {
    color: #ACB6CB !important;
}
.custom-form::placeholder {
    color: #ACB6CB !important;
}
.ttiptitle {
    color: #1D76F2;
    font-size: 14px;
    font-weight: 600;
    font-family: 'apmedium';
    margin-bottom: 5px;
}
.ttipdesc {
    font-size: 12px;
}
div#popover-basic {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    padding: 10px 5px;
}
.ttotipicn:hover {
    background: #EDEDED;
    color: #1d76f2;
}
.ttotipicn {
    color: #ACB6CB;
    font-size: 20px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    display: inline-grid;
    line-height: 22px;
    vertical-align: top;
}
span.swithsts.ml-2 {
    vertical-align: sub;
}
.cusselect.css-2b097c-container {
    z-index: 99;
    caret-color: #1D76F2;
}



.switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background: #DFE3E9;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1.8px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background:#1D76F2;
}
input:checked + .switch::before {
    left: 21px;
    background: #fff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}
input.form-control.custom-form:focus {
    border: 1px solid #1D76F2;
}



















input.filter-text {
    background-image: url(/images/search-icn.svg);
    background-position: left center;
    background-position: 4% center;
    padding: 5px 5px 5px 2rem;
    caret-color: #1D76F2;
}
  /********share modal pop **************/
.form-check.form-check-inline.cus-chekmodal .form-check-input{
height: 16px;
width: 16px;
margin-top: 0.3rem;
}
.table.share-modal-table.dataTable{border: none !important;}
.table.share-modal-table.dataTable tbody tr:nth-of-type(odd){background-color: #fff;}
.modal-dialog.shareto {
    max-width: 515px;
    margin: 5rem auto;
}
.modal-dialog.shareto .modal-header {
    background-color: #1D76F2;
    padding: 15px 15px;
    color: #fff
}
.modal-dialog.shareto .modal-content{
    border: none;
}
.modal-dialog.shareto .modal-body div.dataTables_wrapper div.dataTables_filter input{
    padding: 0px;
}
/*****audio player custom css*************/
.call-audio {
    width: 100%;
    position: relative;
   
	text-align: center;
   /* padding-top: 3rem; */
   margin:0 auto;
}
.call-audio p {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 0.35px;
    margin-top: 0.7rem;
}
.call-audio .audio-date {
    font-size: 11px;
    color: #000000;
    opacity: 0.65;
    font-weight: 400;
    margin: 0;
}
.call_audio_list ul li {
    display: inline-block;
   padding-right: 40px;
	cursor: pointer;
}
.call_audio_list ul li span:hover {color:#1D76F2;}
.call_audio_list ul {
    list-style: none;
}
.call_audio_list .audio-text {
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    opacity: 0.65;
    letter-spacing: 0.2px;
    position: relative;
    top: -5px;
}
.call-audio .green-audio-player .volume {
    position: relative;
    display: block!important;
	flex: auto;
}
.call-audio .green-audio-player {
    width: 390px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    background-color: #ffffff;
    height: 35px;
    margin: 5px auto 15px;
}
.call-audio .green-audio-player .controls span {
    cursor: default;
	font-size: 11px;
    display: block!important;
}
.call-audio .green-audio-player .slider .gap-progress .pin {
    height: 9px;
    width: 9px;
    border-radius: 8px;
    background-color: #1D76F2;
}
.green-audio-player .volume .volume__controls.top {
    bottom: -1px!important;
    left: 21px!important;
}
.call-audio .green-audio-player .volume .volume__controls {
    width: 45px !important;
    height: 25px!important;
    border-radius: 7px;
    position: absolute;
    align-items: center;
    display: flex;
   background: none;
    z-index: unset;
    outline: none;
	flex-direction: inherit!important;
}
.green-audio-player .volume .volume__controls.hidden {
    display: flex!important;
}
.call-audio .green-audio-player .volume .slider {
  margin-top: 15px;
    overflow: visible!important;

}
.call-audio .green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
    left: -5px;
    top: -5px!important;
}
.call-audio .green-audio-player .controls .controls__slider {
    margin-left: 10px!important;
    margin-right: 10px;
    border-radius: 2px;
    height: 4px;
    width: 100px;
}
.call_audio_list span:nth-child(1) {
    color: #707070;
    font-size: 20px;
    font-weight: 100;
}
.volume__button svg {
    width: 14px!important;
    position: relative;
    left: -2px;
}
.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    /* box-shadow:0 0 0 2px #777, 0 0 4px #777; */
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
     background: #DFE1E5 ;
    opacity: 1 !important;
    border: 2px solid #DFE3E9 ;
    /*box-shadow: 0 0 0 0px #777, 0 0 0px #777;*/
  }
  /*********custom change parent class inclue only player work*****/
  .play-player .green-audio-player .volume .volume__controls.bottom {
    bottom: 0px !important;
    left: 30px !important;
}
.play-player .green-audio-player .volume .volume__controls .volume__slider{
    margin-bottom: 3px;
}
.play-player .green-audio-player{
padding-left: 15px;
}
.play-player .green-audio-player .volume .volume__button.open path {
    fill: #1D76F2;
}
.green-audio-player svg, .green-audio-player img {
    display: block;
    width: 15px;
    height: 15px;
}
.play-player .volume__slider.slider{
    background-color: #1D76F2;
    position: relative;
    /* border: 2px solid #1D76F2; */
}
/**************/
.con-detail-right span.con-sec-list-sm {
    position: absolute;
    right: 0;
    top: 11px;
}
.con-detail-right {
    position: relative;
}
.call-slide-cont{position: absolute;
    right: 0;
    top: 10px;}

    .modal-dialog.play-player {
        max-width: 425px;
        margin: 5rem auto;
    }
    .modal-dialog.play-player .modal-header {
        background-color: #1D76F2;
        padding: 15px 15px;
        color: #fff
    }
    .modal-dialog.play-player .modal-content{
        border: none;
    }

/****************/

@media (min-width: 1499px) {
.tab-content.inner-righttwo {
    width: 60%;
}
}
@media(min-width: 1024px) and (max-width: 1498px) {
.tab-content.inner-righttwo {
    width: 90%;
}
}
/**********end**********/

/* side bar align */
@media (min-width: 768px){
.fixed {    min-height: 100vh;    min-width: 240px;   max-width: 240px;}
}









.war-err-cunt {
    position: absolute;
    top: 8px;
    right: 10px;
    background: #FF5D5D;
    border-radius: 11px;
    opacity: 1;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
        vertical-align: middle;
                    line-height: 22px;
                    font-size: 12px;
    }
                                    
.suc-err-cunt {
    position: absolute;
    top: 8px;
    right: 10px;
    background: #30B276;
    border-radius: 11px;
    opacity: 1;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
                    line-height: 22px;
                    font-size: 12px;
    
}
.down-lad-icn-prts {
    letter-spacing: 0.28px;
    color: #1D76F2 !important;
    opacity: 1;
    font-size: 14px;
    padding-left: 15px;
}
.down-lad-icn-prts span{
letter-spacing: 0.28px;
    color: #1D76F2 !important;
    opacity: 1;
    font-size: 14px;
}
button.btn.btn-default.cancel.export-cs-bt {
width: auto;
}
.add-btn-bg {
border: 1px solid #1D76F2;
border-radius: 3px;
opacity: 1;
background: #fff;
color: #1D76F2 !important;
}
.add-btn-bg:hover{
border: 1px solid #1D76F2;
border-radius: 3px;
opacity: 1;
color: #1D76F2 !important;
background: #fff !important;
}
/*******************/
.custom-file-input-btn-up {
color: transparent;
}
.custom-file-input-btn-up::-webkit-file-upload-button {
visibility: hidden;
}
.custom-file-input-btn-up::before {
content: 'Upload';
color: #1D76F2;
display: inline-block;
background: #fff;
border: 1px solid #1D76F2;
border-radius: 4px;
opacity: 1;
padding: 5px 8px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
font-weight: 500;
width:80px;
text-align:center;
font-size: 10pt;
}
.custom-file-input-btn-up:hover::before {
border-color: #1D76F2;
}
.custom-file-input-btn-up:active,.custom-file-input-btn-up:focus {
outline: 0;
}
.custom-file-input-btn-up:active::before {
background: #fff;
}
button.btn.btn-popcuslink.bdr {
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}