

.container-fluid.secondbars {
  height: calc(100vh - 66px);
  background: #E8EEF6 0% 0% no-repeat padding-box;
}
.col-sm-4.leftsiders {
  max-width: 14rem;
  float: left;
  padding: 0;
  height:calc(100vh - 66px);
}

.col-sm-8.rightsiders {
  max-width: calc(100% - 14rem);  
  height:calc(100vh - 66px);
  flex: unset;
  background:#fff;
}

.container-fluid.topbars {
  background: #0F2369 0% 0% no-repeat padding-box;
  height: 66px;
  .headers{
    width:100%;
    .col-sm-3{float:left;}
    .col-sm-9{float:left;}
    .col-sm-2 {
      max-width: 65px;
      flex: unset;
    }
    .col-sm-10 {
      max-width: 195px;
      flex: unset;
      padding: 0;
    }
    button#dropdown-basic {
      background: transparent;
      border: 0;
      text-align: left;
      padding:0px;
    }
    .dropdown-toggle::after {
      right: 0.5rem;
      top: 0.5rem;
      position: absolute;
    }
  }
}

.row.clearfix.toprights {
  float: right;
  width: 260px;
  margin: 0;
  align-items: center;
  p{
    margin-top: 5px;
    sup {
      background: #1D76F2;
      color: #fff;
      font-size: 8px;
      font-family: 'apregular';
      padding: 7px 4px 5px;
      position: absolute;
      top: 2px;
      right: 1.7rem;
      border-radius: 15px;
    }
  }
}

.card{
  background: transparent;
  border: 0;
  .card-header {
    padding: 0;
    border: 0;
    background:transparent;
    button.btn.btn-link {
      letter-spacing: 0.07px;
      color: #0F2369;
      font-size: 14px;
      line-height: 20px;
      padding: 0.7rem 1rem 0.4rem;
      width: 100%;
      text-align: left;
      text-decoration:none;
      img{
        width: 15px;
        height: 15px;
        position: relative;
        top: 2px;
        margin-right: 0.3rem;
      }
    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E8EEF6; 
}



.sc-hHftDr.ddahQf {
  border: 1px solid #DFE3E9;
  border-radius: 9px;
  z-index: 9;
}

.sc-dlfnbm.bboORw.rdt_TableHeadRow {
  background: #E8EEF6;
  border:0;
}
.sc-jrAGrp.jbXzPk.rdt_TableRow {
  border-bottom: 1px solid #E7EDF3;
  border-top: 0;
}
.gQHdOi, .jkEUmm {
  font-size: 13px;
  letter-spacing: 0.26px;
  line-height: 18px;
  color: #000000;
  font-family: 'apregular';
}
.kMXuPO, .gQHdOi {
  max-width: 200px!important;
}

input.filter-text {
  background: url('/images/search.svg') #F4F7FA no-repeat;
  border: 1px solid #E7EDF3;
  background-size: 9px;
  background-position: left 8px center;
  border-radius: 4px;
  letter-spacing: 0.24px;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  padding: 7px 10px 5px 25px;
  height: 34px;
  width: 280px;
  float: right;
  &::placeholder{color:#ACB6CB!important;}
}

.sc-fodVxV.gbjtWJ.rdt_TableHeader, .data-table-extensions-action {
  display: none;
}
.data-table-extensions-filter {
  float: right;
  margin: 1.2rem 0;
}

.titletops {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  padding: 1.6rem 1.6rem 1.8rem;
  h3{
    letter-spacing: 0px;
    color: #000000;
    font-size:24px;
    line-height:21px;
    font-family: 'apmedium';
  }
}

.ctables {
  padding: 1.3rem 2rem 1rem;
  max-height: calc(100vh - 9.3rem);
  overflow-y: scroll;
}
.col-sm-4.leftsiders button.navlink.btn.btn-link:before {
    content: "\e906";
    font-family: 'UR_OMP' !important;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

.col-sm-4.leftsiders .collapse:before {
    content: "\e907";
    font-family: 'UR_OMP' !important;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
	background: #e8eef6;
}