.mat-rft-med {
  margin-right: 15px;
}
button.btn.btn-primary.bulk-up-btn {
  background: #e8f2ff 0% 0% no-repeat padding-box;
  border: 1px solid #1d76f25c;
  border-radius: 3px;
  opacity: 1;
  color: #1d76f2;
}
button.btn.btn-primary.bulk-up-btn:active {
  background: #e8f2ff 0% 0% no-repeat padding-box;
  border: 1px solid #1d76f25c;
  border-radius: 3px;
  opacity: 1;
  color: #1d76f2;
}
.bulk-up-btn span {
  font-size: 16px;
  padding: 0 6px 0 0px;
}
/*******************/
img.map-icn-bg {
  width: 100%;
}
span.edit-icn-right-align {
  position: absolute;
  right: 15px;
}
.cal-que-mai-hd-txt {
  font-weight: 600;
  color: #000;
  font-size: 14px;
  padding: 0 0 1rem;
  margin: 0;
}
.custom-form:focus {
  box-shadow: none;
  outline: none;
}
/************/
.w-auto {
  width: auto;
}

.gray-delete {
  color: #898989 !important;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}
.delete-bg .modal-dialog .modal-header {
  background-color: #ff5655;
  // padding: 15px 15px;
}
.yes-bg {
  background-color: #ff5655 !important;
  border-color: #ff5655;
  width: 80px;
}
.yes-bg:active,
.yes-bg:focus,
.yes-bg:hover {
  background-color: #ff5655 !important;
  border-color: #ff5655;
}
.delete-bg .modal-dialog {
  max-width: 400px;
  // margin: 0rem auto;
}
.delete-bg .modal-dialog .modal-content {
  border: none;
}
span.dispatched {
  background: #ffd6f2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 5px 3px 5px;
  color: #d048a6;
}
span.processing {
  background: #c1dbff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 5px 3px 5px;
  color: #1d76f2;
  position: relative;
  top: -2px;
}
/**********/
.radio-custom {
  background: #f4f7fa;
  border-radius: 3px;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.form-check.cus-form-check input.form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}
.form-check.cus-form-check label.form-check-label {
  margin-left: 10px;
}
input[value="upd-file"]:checked ~ #upd-file {
  display: block;
}

.dnone {
  display: none;
}
.rig-cnt-txt-ban h3 {
  font-size: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 500;
  padding-bottom: 5px;
}
.rig-cnt-txt-ban h4 {
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 400;
  opacity: 0.59;
  padding-bottom: 5px;
}
.update-pop-up .modal-dialog {
  max-width: 600px;
  // margin: 0rem auto;
}
textarea.form-control.custom-form.ar-txt-bg {
  resize: none;
  font-size: 13px;
  height: 55px;
  background: #e8f2ff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
  padding-top: 10px;
}
.cust-id-txt {
  font-size: 12px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 400;
  opacity: 0.59;
  padding-bottom: 5px;
  text-align: right;
  float: right;
  margin: 6px 0 1.5rem;
}

.row.clearfix.align-items-center .col-sm-9 {
  padding: 0;
}
.form-check.cus-form-check.checked {
  padding: 1.5rem 2.5rem;
  label {
    letter-spacing: 0.28px;
    color: #000000;
    font-size: 14px;
    line-height: 22px;
    font-family: "apboldbold";
    margin: 0px;
    padding-left: 0.7rem !important;
  }
  p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.24px;
    color: #676767;
    padding-left: 0.7rem !important;
  }
  input.form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 0.7rem;
  }
  textarea {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e7edf3;
    border-radius: 4px;
    width: 100%;
    resize: none;
    margin: 10px;
    padding: 10px;
  }
}
.modal-dialog.modal-md {
  max-width: 640px;
  .modal-body {
    padding-top: 1.5rem;
  }
}
.form-check.cus-form-check.checked.purple {
  background: #ffeef9;
  border-radius: 17px;
}
.form-check.cus-form-check.checked.red {
  background: #ffeeee;
  border-radius: 17px;
}
.form-check.cus-form-check.checked.blue {
  background: #c1dbff 0% 0% no-repeat padding-box;
  border-radius: 17px;
}
.purple {
  color: #d048a6;
  background: #ffeef9;
}
.red {
  color: #ff0000;
  background: #ffeeee;
}
textarea::placeholder {
  color: #acb6cb;
  font-size: 12px;
}
/********************/
.succes-bar.refund {
  background: #ffd6f2 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #e2eeff33;
  color: #d048a6;
}
.succes-bar.refund span {
  color: #d048a6;
}
.cancel-pop-btm-btn-bg {
  background: #ff5d5d !important;
  border-color: #ff5d5d !important;
}
.refund-pop-btm-btn-bg {
  background: #d048a6 !important;
  border-color: #d048a6 !important;
}
.complete-pop-btm-btn-bg {
  background: #30b276 !important;
  border-color: #30b276 !important;
}
.form-check.cus-form-check.checked textarea:focus {
  outline: none;
}
.form-check.cus-form-check.checked.red input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff0000;
  border-color: #ff0000;
}

.form-check.cus-form-check.checked.purple input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #d048a6;
  border-color: #d048a6;
}

.refun-sm-hes-txt h3 {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.24px;
  color: #000000;
  font-weight: 600;
}
.refun-sm-hes-txt p {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.24px;
  color: #676767;
}
/****************/
.setting-top-check button.dropdown-toggle.btn.btn-actioneround:after {
  content: "\e910";
  font-family: "UR_OMP" !important;
  border: 0px;
  margin-top: -1px;
  color: #1d76f2;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.drop-sav-btn {
  background: #1d76f2 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  width: 65px;
  height: 25px;
  margin-right: 5px;
  color: #fff;
  border: none;
  font-size: 12px;
}
.drop-sav-btn-all {
  color: #1d76f2;
  border-radius: 5px;
  opacity: 1;
  width: 65px;
  height: 25px;
  background-color: transparent;
  border: none;
  font-size: 12px;
}
.drop-sav-btn-all:focus,
.drop-sav-btn-all:active,
.drop-sav-btn:focus,
.drop-sav-btn:active {
  outline: none;
}
.setting-top-check .dropdown-item {
  padding: 0.25rem 1rem;
  font-size: 13px;
  line-height: 25px;
}
.setting-top-check .dropdown-item .form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  width: 13px;
  height: 13px;
}
